@media (min-width:660px) {
    .mtbbike__description {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .road {
        grid-column: 1/2;
        grid-row: 2/3; 
    }
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px 20px;
    }
    .road__img {
        grid-column: 2/3;
        grid-row:2/3;
    }
    .mtb__img img{
        height: 90%;
        margin-top: 20px;
    }
    .road__img {
        max-width: 500px;
    }
}